.catalog{
    border: 1px solid rgb(240, 240, 240);
    display: inline-block;
    margin: 5px;
    width: 40%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.catalog:hover{
    background: rgb(240, 240, 240);
}

.catalog .option{
    display: inline-block;
    padding: 20px 20px 10px;
    width: 40%;
    font-size: 18px;
}

.catalog .price{
    font-weight: bold;
    display: inline-block;
    width: 40%;
    font-size: 18px;
    padding: 10px 20px 20px;
}

.catalog.active{
    background: rgb(0, 100, 0);
    color: white;
    border: 1px solid white;
}