.catalog{
    border: 1px solid rgb(240, 240, 240);
    display: block;
    margin: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 0 7px rgba(0,0,0,0.15);
    text-align: left;
}

.catalog .option{
    display: inline-block;
    padding: 20px 20px 10px;
    font-size: 28px;
}

.catalog .price{
    font-weight: bold;
    display: inline-block;
    float: right;
    font-size: 22px;
    padding: 10px 20px 20px;
}

.catalog.active{
    background: rgb(0, 100, 0);
    color: white;
    border: 1px solid white;
}